h1 {
  color: whitesmoke;
}
p {
  font-size: 1.1em;
}
a {
  color: #bb86fc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 600px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.elevator-panel {
  width: 200px;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.button {
  font-family: 'Courier New', Courier, monospace;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: #444;
  border: 2px solid #777;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
.button:active, .button.selected {
  background: #39FF14;
}
.footer {
  width: 100%;
  text-align: center;
  background: #222;
  position: absolute;
  padding: 5px 0;
  bottom: 0;
}
.footer a {
  color: #bb86fc;
  margin: 0 15px;
  text-decoration: none;
}